<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="stylesheet", href="./scss/style.scss")
		link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
		script(defer src="https://use.fontawesome.com/991e61a5a1.js")
		script(defer src="js/main.js")
		title Explore, Adventure, Travel

	body
		header
			.wrap.flex
				ul.navContact
					li 
						i.fas.fa-phone  
						.phone
					li 
						i.fas.fa-envelope
						.email
					li Eng

				ul.navUser
					li 
						i.fas.fa-search
					li 
						i.fas.fa-heart
					li 
						i.fas.fa-user
					li 
						i.fas.fa-shopping-cart

			.wrap.flex
				.logo Explore 
				ul.canHazBurger
					li
					li
					li
				nav.hidden
					ul.navMain
						li Home
						li Catalog
						li Collections
						li Specials
						li Contact Us
						
		.hero
			.wrap
				h3 Be inspired
				h1 Explore, Adventure, Travel
				p Create memories with amazing experiences. 
				.tally.flex
					.box
						h3 420+
						p Locations
					.box
						h3 69+
						p Places
					.box
						h3 9000+
						p Trips Booked
				p
					a.btn() Explore Now

		.features
			.wrap.flex
				.box
					i.fas.fa-plane
					h2 Flight included
					p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur cupiditate, voluptas dolorum sit 
				.box
					i.fas.fa-ticket-alt
					h2 Best Price Guarantee
					p impedit est, aut dignissimos doloribus nobis aspernatur omnis. 
				.box
					i.fas.fa-phone-volume
					h2 Customer Service
					p Perspiciatis ipsam modi nihil in aut tempora ea voluptate. 
				.box
					i.fas.fa-shield-alt
					h2 Secure Payments
					p Perspiciatis ipsam modi nihil in aut tempora ea voluptate. 
					
		main
			section.wrap
				.flex
					.packages
						h2 Popular Packages
						h3 
							a() View All Packages
					.arrows
						i.fas.fa-chevron-left
						i.fas.fa-chevron-right
				-let a = 3
				.packages-gallery
					while a > 0
						.cell
							img(src="https://picsum.photos/450/200?random="+a)
							.cell-text 
								p Place to adventure
									h3.price $700-$800
								.cell-nav.flex
									a.btn() Buy Now
									.icons
										i.fas.fa-search
										i.fas.fa-heart
							-a--

		section.wrap
			.flex
				.destinations
					h2 Popular Destinations
					h3 
						a() View All Destinations
				.arrows
					i.fas.fa-chevron-left
					i.fas.fa-chevron-right
			p We offer the perfect experience for anyone's adventure

		-let b = 5
		.destinations-gallery
			while b > 0
				.cell
					img(src="https://picsum.photos/450/650?random="+b)
					-b--

		section.wrap.flex
			.category
				h2 Browse Tours by Category
				.category-nav.flex
					ul
						li Lorem ipsum
						li dolor sit amet
						li consectetur
						li adipisicing
					ul
						li dignissimos
						li id officia
						li voluptate
						li ad dolor
					ul
						li Minima possimus
						li ab veritatis
						li dolorum doloribus
						li esse repellat

			.newsletter
				h2 Our Newsletter
				p Sign up to stay informed on latest sales!
				input(type="text" placeholder="your@emaill.com")
				button.btn() Submit
				.social-icons
					i.fab.fa-twitter
					i.fab.fa-github
					i.fab.fa-codepen
					i.fab.fa-instagram
					
		section.book
			.wrap.flex
				.book-text
					h1 Book Your Trip
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi veniam modi cum odit! Fugiat ipsa inventore
					.offers.flex
						.protect
							h3 Protect your trip
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex voluptas tempora non exercitationem ipsa! Odit ipsum.
						.perfect
							h3 Perfect Offers
							p similique quod harum corporis. Totam iure earum placeat laborum quas necessitatibus, rerum voluptates odit.
					p
						a.btn() Book an adventure!
				.book-img
					img(src="https://picsum.photos/450/620?random="+b)

		section.specials.wrap
			.flex
				.specials-title
					h2 Special Offers
					h3 
						a() View All Offers
				.arrows
					i.fas.fa-chevron-left
					i.fas.fa-chevron-right
			-let c = 4
			.specials-gallery
				while c > 0
					.cell
						img(src="https://picsum.photos/300/200?random="+c)
						.cell-text 
							p Place to get away
								h3.price $700-$800
							.cell-nav.flex
								a.btn() Buy Now
								.icons
									i.fas.fa-search
									i.fas.fa-heart
						-c--
		section.reviews.wrap
			.flex
				.reviews-title
					h2 What Our Customers Say
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quo, cumque incidunt odit laborum a. 
				.arrows
					i.fas.fa-chevron-left
					i.fas.fa-chevron-right
			-let d = 3
			.review-cards.flex
				while d > 0
					.card.center
						span Review for 
							h3 Category
						.stars
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus saepe unde nesciunt repellendus fugiat libero ullam eligendi magni? Ab perferendis sapiente beatae expedita autem cum, officiis asperiores. Amet, natus quo.
						span.review-user
							i.fas.fa-user
							span Bill Murray
							-d--

		footer
			.footer-nav.wrap.flex
				ul Customer Service
					li item1
					li item2
					li item3
					li item4
					li item5
				ul Your Account
					li item1
					li item2
					li item3
					li item4
					li item5
				ul Our Company
					li item1
					li item2
					li item3
					li item4
					li item5
				ul Satisfaction 
					li item1
					li item2
					li item3
					li item4
					li item5

			.links.wrap.flex
				h4 copyright stuffs 2020
				.links-paymentTypes
					h4 all major cards accepted
				.social-icons
					i.fab.fa-twitter
					i.fab.fa-github
					i.fab.fa-codepen
					i.fab.fa-instagram