//- //< Sassy settings
$minWidthLg: 1190px;
$minWidthMed: 950px;
$minWidthSml: 656px;
//- //>Base settings
@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
	--clr: salmon;
	--clr-light: white;
	--clr-border: lightgrey;
	--clr-shadow: 0px 0px 0.75px 0.2px var(--clr-border);
	--clr-dark: black;
	--clr-highlight: salmon;
	--clr-secondary: rgb(212, 235, 253);
	--clr-secondary-dark: rgb(6, 91, 156);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: var(--clr-light);
	@media (max-width: $minWidthSml) {
		font-size: 14px;
	}
}

a,
.btn {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
	list-style: none;
}

h1 {
	margin: 0.25em 0;
	font-size: 4rem;
	color: var(--ctr-dark);
}

h3 {
	margin: 0.25em 0;
	font-size: 1.1rem;
	text-transform: uppercase;
	color: var(--clr-secondary-dark);
}

p {
	font-family: 'Lato', sans-serif;
}

.wrap {
	max-width: $minWidthLg;
	margin: 0 auto;
	@media (max-width: $minWidthLg) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.center {
	text-align: center;
}

.flex {
	display: flex;
	justify-content: space-between;
	@media (max-width: $minWidthLg) {
		flex-wrap: wrap;
	}
}

.btn {
	padding: 0.5em 0.75em;
	display: inline-block;
	background: var(--clr);
	border: none;
}

header {
	.flex {
		align-items: center;
	}
}

.canHazBurger {
	display: grid;
	gap: 4px;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	@media (min-width: $minWidthMed) {
		display: none;
		visibility: hidden;
	}
	li {
		width: 25px;
		height: 3px;
		background: black;
	}
}

.hidden {
	display: none;
	visibility: hidden;
	@media (min-width: $minWidthMed) {
		display: flex;
		visibility: visible;
	}
}

.navContact {
	font-size: 0.85rem;
	li {
		padding: 1em;
		display: inline-block;
	}
	.phone {
		display: inline-block;
		padding: 0 5px;
		&::before {
			content: '(800) 555-5555';
			@media (max-width: $minWidthSml) {
				display: none;
				visibility: hidden;
			}
		}
	}
	.email {
		@extend .phone;
		&::before {
			content: 'info@explore.com';
		}
	}
}

.navUser {
	font-size: 0.85rem;
	li {
		padding: 1em;
		display: inline-block;
	}
}

.navMain {
	li {
		padding: 1em;
		display: inline-block;
		text-transform: uppercase;
		cursor: pointer;
		@media (min-width: $minWidthMed) {
			display: inline-block;
		}
		&:hover {
			color: var(--clr);
		}
		&::after {
			content: '';
			width: -0px;
			height: 2px;
			display: block;
			background: var(--clr-secondary);
			transition: width 0.35s;
		}
		&:hover::after {
			width: 100%;
		}
	}
}

.logo {
	padding: 0.5em;
	color: var(--clr-light);
	font-size: 1.3rem;
	font-weight: bolder;
	text-transform: uppercase;
	background: var(--clr);
}

.hero {
	position: relative;
	min-height: 600px;
	padding: 5rem 0;
	background: url('https://picsum.photos/1900/600?random=0') no-repeat center;
	background-size: cover;
	z-index: 1;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, var(--clr-light), rgba(255, 255, 255, 0.15));
		z-index: -1;
	}
}

.tally.flex {
	justify-content: space-evenly;
}

.tally {
	max-width: 500px;
	padding: 1rem 0.5rem;
	text-align: center;
	background: var(--clr-light);
	h3 {
		font-size: 2rem;
		font-weight: bolder;
	}
	.box:not(:last-child) {
		padding-right: 8%;
		border-right: 1px solid var(--clr-border);
	}
}

.features {
	background: var(--clr-secondary);
	@media (max-width: $minWidthLg) {
		.wrap {
			max-width: 900px;
		}
	}
	@media (max-width: $minWidthMed) {
		.flex {
			justify-content: space-evenly;
		}
	}
	.box {
		width: 320px;
		padding: 1rem;
	}
	i {
		padding-right: 0.5rem;
		color: var(--clr-secondary-dark);
	}
	h2 {
		font-size: 1.2rem;
		display: inline-block;
		text-transform: uppercase;
		&::after {
			content: attr(data-feature) ''; //todo make icon a data attr
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

section {
	padding-top: 6rem;
}

.packages,
.arrows,
.destinations,
.specials-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	h2 {
		margin-right: 2rem;
		text-transform: uppercase;
	}
}

.arrows {
	i {
		margin: 2px;
		padding: 0.25rem 0.5rem;
		border: 0.5px solid var(--clr-border);
		border-radius: 4px;
		cursor: pointer;
		&:hover {
			color: var(--clr-light);
			background: var(--clr);
		}
	}
}

.packages-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	justify-items: center;
	gap: 1rem;
	position: relative;
	z-index: 69;
	img {
		object-fit: cover;
		align-self: center;
	}
	h3,
	p ~ p {
		padding: 0 0.25rem;
		display: inline-block;
	}
	p {
		margin: 0;
	}
	.cell {
		position: relative;
		max-width: 450px;
		border-radius: 0 0 4px 4px;
		background: var(--clr-light);
		transition: transform 0.3s;
		&:hover {
			position: relative;
			transform: scale(1.05);
			box-shadow: 0px 0px 0.75px 0.2px grey;
			z-index: 69;
		}
		&::after {
			content: 'Sale -10%';
			position: absolute;
			top: 10px;
			left: -5px;
			padding: 5px;
			color: var(--clr-light);
			background: var(--clr-highlight);
			z-index: 1;
		}
		&-text {
			padding: 0.5rem;
			text-align: left;
		}
		&-nav {
			padding: 0.5rem 0;
		}
	}
}

.destinations-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-items: center;
	background: url('https://picsum.photos/950/950?random=420') no-repeat bottom right;
	background-size: cover;
	@media (max-width: $minWidthLg) {
		background-size: unset;
	}
	@media (max-width: $minWidthSml) {
		background: none;
	}
	img {
		height: min-content;
		object-fit: cover;
		align-self: center;
	}
	.cell {
		max-height: 650px;
		position: relative;
		&::before {
			content: 'Location';
			width: 100%;
			position: absolute;
			bottom: 100px;
			left: 0;
			color: var(--clr-light);
			text-align: center;
			font-size: xx-large;
			font-weight: bold;
			text-shadow: 2px 1px 2px var(--clr-dark);
			z-index: 1;
		}
		&::after {
			@extend ::before;
			content: '340 trips booked';
			bottom: 70px;
			font-size: large;
			font-weight: normal;
		}
	}
}

.social-icons {
	i {
		padding: 10px;
		font-size: larger;
	}
}

.category,
.footer {
	&-nav {
		li {
			padding: 5px 10px;
			color: var(--clr-secondary-dark);
			font-weight: 700;
			cursor: pointer;
			&:hover {
				color: var(--clr-highlight);
			}
		}
	}
}

.newsletter {
	input {
		margin: 0.25rem;
		padding: 0.25rem;
	}
}

.book {
	max-height: 500px;
	margin: 6rem 0;
	background: var(--clr-secondary);
	@media (max-width: $minWidthLg) {
		max-height: max-content;
	}
	@media (max-width: $minWidthMed) {
		max-height: max-content;
		.flex {
			text-align: center;
			justify-content: center;
		}
	}
	&-text {
		max-width: 50%;
		@media (max-width: $minWidthMed) {
			max-width: 100%;
		}
	}
	&-img {
		position: relative;
		min-width: 450px;
		transform: translate(0, -25%);
		@media (max-width: $minWidthLg) {
			min-width: 360px;
			transform: none;
		}
	}
	&-img::after {
		content: ' ';
		position: absolute;
		bottom: -50px;
		left: -150px;
		width: 300px;
		height: 200px;
		background: url('https://picsum.photos/300/200?random=69');
		z-index: 69;
		@media (max-width: $minWidthSml) {
			left: 30px;
		}
	}
}

.specials-gallery {
	@extend .packages-gallery;
	.cell {
		max-width: 300px;
	}
}

.review {
	&-cards {
		.card {
			margin: 0.55rem;
			padding: 0.75rem;
			background: pink;
			border-radius: 4px;
			&:last-child {
				background: var(--clr-secondary);
			}
			&:first-child {
				background: var(--clr-border);
			}
			h3 {
				display: inline-block;
			}
			.stars {
				i {
					color: #dfda00;
					text-shadow: 1px 1px 1px black;
				}
			}
		}
	}
	&-user {
		i {
			margin: 0.25rem;
			padding: 0.51rem;
			background: var(--clr-light);
			border-radius: 99px;
		}
	}
}

.footer-nav {
	text-align: center;
}

footer {
	margin-top: 6rem;
	.flex {
		align-items: center;
	}
}
